<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookcave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/bookcavelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bookcavelogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        tools:ignore="HardcodedDebugMode">
        <activity android:exported="true"
            android:name=".RentBook"></activity>
        <activity
            android:exported="true" android:name=".ViewOrderCustomer" />
        <activity
            android:exported="true" android:name=".UpdateOrder" />
        <activity
            android:exported="true" android:name=".Placed" />
        <activity
            android:exported="true" android:name=".ChangeAddress" />
        <activity
            android:exported="true" android:name=".BuyBook" />
        <activity
            android:exported="true" android:name=".BookInfoOrder" />
        <activity
            android:exported="true" android:name=".BookInfo" />
        <activity
            android:exported="true" android:name=".extras.PreviewBook" />
        <activity
            android:exported="true" android:name=".AddBook" />
        <activity
            android:exported="true" android:name=".profile.AboutApp" />
        <activity
            android:exported="true"
            android:name=".HomeSeller"
            android:label="@string/title_activity_home_seller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true" android:name=".profile.ContactDeveloper" />
        <activity
            android:exported="true" android:name=".profile.PaymentHistoryC" />
        <activity
            android:exported="true" android:name=".profile.OrderHistoryC" />
        <activity
            android:exported="true" android:name=".profile.Favourites" />
        <activity
            android:exported="true" android:name=".profile.ProfileCustomer" />
        <activity
            android:name=".HomeCustomer"
            android:label="@string/title_activity_home_customer" />
        <activity
            android:exported="true" android:name=".CreateAccountCustomer" />
        <activity
            android:exported="true" android:name=".CreatAccountSeller" />
        <activity
            android:exported="true" android:name=".forgot_password" />
        <activity
            android:exported="true" android:name=".CustomerLogin" />
        <activity
            android:exported="true" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>